    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
     * {
            font-family: 'Poppins';
        }

        body {
            display: flex;
            justify-content: center;   
            align-items: center;
            min-height: 100vh;         
            background-image: url('https://cdn.wallpapersafari.com/12/27/1lOMPt.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            text-align: center;
        }

        .calc-container {
            background-color: #00000073;
            backdrop-filter: blur(3px);
            border-radius: 30px;
            padding: 30px;
            width: 500px;
            text-align: center;
            box-shadow: -2px -1px 13px 0px rgba(255, 255, 255, 0.356);
            -webkit-box-shadow: -2px -1px 13px 0px rgba(255, 255, 255, 0.454);
            -moz-box-shadow: -2px -1px 13px 0px rgba(255,255,255,0.75);
            transition: transform 0.3s ease;
        }
        .calc-container:hover {
            transform: translateY(-5px);
        }
        .calc-header h1 {
            color: white;
            padding: 10px;
            margin-bottom: 15px;
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.76);

        }


        .btn-display {
            background-color: #ffffff;
            border-radius: 30px;
            padding: 5px 25px;
            font-weight: bold;
            color: black;
            box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.76);
        }

        #result1 {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            font-size: 2.5rem;
            padding: 5px 20px;
            border-radius: 10px;
            display: inline-block;
            margin-top: 20px;
            min-width: 100px;
            text-align: center;
            box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.76);
        }
        p {
            color: white;
        }
