        * {
            font-family: 'Poppins';
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            background-image: url('https://cdn.wallpapersafari.com/12/27/1lOMPt.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            text-align: center;
        }

        .calc-container {
            background-color: #dcdcdc;
            border: 2px  #888;
            border-radius: 20px;
            padding: 30px;
            width: 400px;
            text-align: center;
        }

        .calc-header {
            background-color: #F0FFDF;
            border: 1px solid #555;
            border-radius: 15px;
            padding: 10px;
            font-family: 'serif';
            font-weight: bold;
            margin-bottom: 15px;
        }

        .btn-display {
            background-color: #FFAAB8;
            border: 1px solid black;
            border-radius: 20px;
            padding: 5px 25px;
            font-weight: bold;
        }

        #result1 {
            background-color: #222;
            color: white;
            font-size: 2.5rem;
            padding: 5px 20px;
            border-radius: 5px;
            display: inline-block;
            margin-top: 20px;
            min-width: 100px;
            text-align: center;
        }